@page "{id}"
@model FunnyWebRazor.Pages.Users.EditModel
@{
    ViewData["Title"] = "Edit User";
}

<form method="post">
    <input type="hidden" name="id" value="@Model.User.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit User</h2>
        </div>

        <div asp-validation-summary="All"></div>

        <div class="mb-3">
            <label asp-for="User.FullName">Full Name</label>
            <input asp-for="User.FullName" type="text" class="form-control" />
            <span asp-validation-for="User.FullName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="User.Email">Email</label>
            <input asp-for="User.Email" type="email" class="form-control" />
            <span asp-validation-for="User.Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password">New Password (Leave empty if not changing)</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
</form>


