@page
@model FunnyWebRazor.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Users";
}

<h1>Manage Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@user.Id">Edit</a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success" asp-page="./Create">Add User</a>
